body{
    background-color: black;
    width:100%;
    height:100%;
    font-family: monospace;
    padding: 0;
    margin: 0;
}

#button
{
    background-color: black;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 80% auto;
    width:98%;
    height:98%;
}

#info
{
    position:absolute;
    top: 20px;
    right:20px;
    left:20px;
    font-size: 20px;
    color:#fff;
    display: none;
}

#button.active
{
    background-image: url(../images/logo_clicked.png);
}

